{% extends 'base.html' %}

{% block title %}
    企业专利匹配
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>企业</th>
                            <th>联系电话</th>
                            <th>工程师</th>
                        </tr>
                    </thead>
                    <tbody id="file-container">
                    {% for i in result %}
                        <tr>
                            <td class="nowrap">
                                {{ i['ep_name'] }}
                            </td>
                            <td class="project-status">
                               {{ i['telephone'] }}
                            </td>
                            <td class="project-progress">
                                {{ i['inventor'] }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}